html {
    overflow-y: auto;
}

.bg-primary > .media-heading > small,
.form-group > .control-label > small {
    color: #CCCCCC;
}
.btn > .button-text {
    display: none;
}

#replyForm,
.compose-form,
#menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

#threads,
#menu {
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    #threads {
        position: fixed;
        top: 10px;
        bottom: 10px;
        width: 25%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    #threads > li {
        margin-right: 10px;
    }

    .btn > .button-text {
        display: inline;
    }

    #menu {
        margin-bottom: 0;
    }
}

/* Menu bar */
#menu .btn {
    margin-left: 5px;
}

/* Options modal */
#optionsModal {
    overflow-y: auto;
}

#optionsModal .tab-content .form-horizontal .form-group {
    margin-left: auto;
    margin-right: auto;
}

/* Compose form */
.compose-form #captchaImg {
    border: 1px solid #737373;
    padding: 3px;
}