<!DOCTYPE html>
<html lang="en" ng-app="App" ng-csp my-resize>
    <head>
        <title>Reddit Messenger</title>

        <!-- Libraries -->
        <script src="/libraries/jquery/jquery-2.1.0.min.js"></script>
        <script src="/libraries/angularjs/angular.min.js"></script>
        <link rel="stylesheet" href="/libraries/angularjs/angular-csp.css" type="text/css" />
        <script src="/libraries/bootstrap/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/libraries/bootstrap/css/bootstrap.min.css" type="text/css" />
        <script src="/libraries/underscorejs/underscore-min.js"></script>
        <script src="/libraries/momentjs/moment.min.js"></script>

        <!-- App -->
        <script src="/app.js"></script>

        <!-- Services -->
        <script src="/services/reddit-service.js"></script>
        <script src="/services/thread-factory-service.js"></script>
        <script src="/services/notification-service.js"></script>
        <script src="/services/storage-service.js"></script>

        <!-- Directives -->
        <script src="/directives/my-resize.js"></script>

        <!-- Controllers -->
        <script src="/controllers/app-controller.js"></script>
        <script src="/controllers/message-controller.js"></script>
        <script src="/controllers/compose-controller.js"></script>
        <script src="/controllers/option-controller.js"></script>

        <style>
            .bg-primary > .media-heading > small,
            .form-group > .control-label > small {
                color: #CCCCCC;
            }
            .btn > .button-text {
                display: none;
            }

            .reply-form,
            .compose-form,
            .menu {
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .menu > .btn {
                margin-left: 5px;
                margin-right: 5px;
            }
            .menu > .btn:first-child {
                margin-right: 0;
            }

            .modal {
                overflow-y: auto;
            }

            .compose-form #captchaImg {
                border: 1px solid #737373;
                padding: 3px;
            }

            @media (min-width: 768px) {
                .threads {
                    position: fixed;
                    top: 10px;
                    bottom: 10px;
                    width: 150px;
                    overflow-y: auto;
                    overflow-x: hidden;
                }
                ul.threads > li {
                    margin-right: 10px;
                }
                html {
                    overflow-y: auto;
                }

                .btn > .button-text {
                    display: inline;
                }

                .menu {
                    margin-bottom: 0;
                }
            }

            @media (min-width: 992px) {
                .threads {
                    width: 200px;
                }
            }

            @media (min-width: 1200px) {
                .threads {
                    width: 250px;
                }
            }
        </style>
    </head>
    <body class="container" ng-controller="AppController">
        <div class="content" ng-cloak>
            <div class="col-sm-12 menu clearfix">
                <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#optionsModal">
                    <span class="glyphicon glyphicon-cog"></span>
                    <span class="button-text">Options</span>
                </button>
                <button type="button" class="btn btn-default pull-right" ng-click="updateMessages()">
                    <span class="glyphicon glyphicon-refresh"></span>
                    <span class="button-text">Refresh</span>
                </button>
                <button type="button" class="btn btn-default pull-right" ng-click="moreMessages()">
                    <span class="glyphicon glyphicon-download"></span>
                    <span class="button-text">More messages</span>
                </button>
            </div>
            <div class="col-sm-3">
                <ul class="nav nav-pills nav-stacked threads">
                    <li ng-repeat="thread in messages" ng-class="{ active: activeThread === thread }">
                        <a href="" ng-click="setActiveThread(thread)">
                            <span class="badge pull-right" ng-show="thread.unreadCount > -1">{{thread.unreadCount}}</span>
                            <h4>{{thread.subject}}</h4>
                            with {{thread.dest}}
                        </a>
                    </li>
                    <li ng-class="{ active: isComposing }">
                        <a hg-href="" ng-click="startNewThread()">
                            <h4>Compose</h4>
                            with a new user
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div class="messages" ng-controller="MessageController" ng-hide="isComposing">
                    <form class="reply-form" role="form" ng-show="!!activeThread" ng-submit="reply()" ng-keypress="$event.keyCode === 10 && reply()">
                        <div class="form-group">
                            <textarea class="form-control" rows="3" ng-model="activeThread.replyMsg"></textarea>
                        </div>
                        <div class="clearfix">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="!activeThread.replyMsg || isReplying">
                                <span class="glyphicon glyphicon-send"></span>
                                <span class="button-text">Send</span>
                            </button>
                        </div>
                    </form>
                    <div class="media" ng-repeat="msg in activeThread.messages">
                        <div class="media-body" ng-class="{ 'bg-primary': msg.isUnread && msg.isReceived, 'bg-info': !msg.isUnread && msg.isReceived }" ng-click="markAsRead(msg)">
                            <h4 class="media-heading"><small>{{displayDate(msg.createDate)}}</small></h4>
                            <div ng-bind-html="msg.body"></div>
                        </div>
                    </div>
                </div>
                <div ng-show="isComposing" ng-controller="ComposeController">
                    <form class="compose-form" role="form" ng-submit="" ng-keypress="">
                        <div class="form-group">
                            <label for="to" class="control-label">
                                To <small>(username, or /r/name for that subreddit's mods)</small>
                            </label>
                            <input type="text" id="to" class="form-control" ng-model="to" />
                        </div>
                        <div class="form-group">
                            <label for="subject" class="control-label">Subject</label>
                            <input type="text" id="subject" class="form-control" ng-model="subject" />
                        </div>
                        <div class="form-group">
                            <label for="message" class="control-label">Message</label>
                            <textarea id="message" class="form-control" ng-model="message"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="captcha" class="control-label">
                                Are you human? <small>(Sorry)</small>
                            </label>
                            <div class="help-block">
                                <img id="captchaImg" ng-src="{{captchaSrc}}" ng-show="!!captchaSrc" />
                            </div>
                            <input type="text" name="" id="captcha" class="form-control" ng-model="captcha" ng-disabled="!captchaSrc" />
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary pull-right" ng-disabled="!to || !subject || !message || !captcha">
                                <span class="glyphicon glyphicon-send"></span>
                                <span class="button-text">Send</span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="optionsModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" ng-controller="OptionController">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Options</h4>
                    </div>
                    <div class="modal-body">
                        <form class="optionForm" role="form">
                            <div class="form-group">
                                <label for="refreshInterval" class="control-label">
                                    Refresh Interval
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" ng-click="toggleRefreshInterval()" ng-checked="refreshInterval > 0" />
                                    </span>
                                    <input type="number" id="refreshInterval" class="form-control" min="2" step="1" ng-model="refreshInterval" ng-blur="updateConfig()" ng-disabled="refreshInterval < 1" />
                                    <span class="input-group-addon">seconds</span>
                                </div>
                                <span class="help-block" ng-show="refreshInterval > 0">The messenger will refresh the whole message set every {{refreshInterval}} seconds.</span>
                                <span class="help-block" ng-show="refreshInterval < 1">The messenger will not refresh the whole message set.</span>
                            </div>
                            <div class="form-group">
                                <label for="checkInterval" class="control-label">
                                    Unread Check Interval
                                </label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <input type="checkbox" ng-click="toggleCheckInterval()" ng-checked="checkInterval > 0" />
                                    </span>
                                    <input type="number" id="checkInterval" class="form-control" min="2" step="1" ng-model="checkInterval" ng-blur="updateConfig()" ng-disabled="checkInterval < 1" />
                                    <span class="input-group-addon">seconds</span>
                                </div>
                                <span class="help-block" ng-show="checkInterval > 0">The messenger will check for unread messages every {{checkInterval}} seconds.</span>
                                <span class="help-block" ng-show="checkInterval < 1">The messenger will not check for unread messages.</span>
                            </div>
                            <div class="form-group">
                                <label for="messageCount" class="control-label">
                                    Fetch Message Count
                                </label>
                                <div class="input-group">
                                    <input type="number" id="messageCount" class="form-control" min="25" max="100" step="1" ng-model="messageCount" ng-blur="updateConfig()" />
                                    <span class="input-group-addon">messages</span>
                                </div>
                                <span class="help-block">Each refresh and check will grab {{messageCount}} messages.</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>