<div class="list-template">
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="thread in messages">
            <a  ng-href="" ng-click="setActiveThread(thread)">
                <span class="badge pull-right" ng-show="thread.unreadCount > -1">{{thread.unreadCount}}</span>
                {{thread.subject}} with {{thread.dest}}
            </a>
        </li>
    </ul>
    <table class="table" ng-show="activeThread !== null">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Body</th>
                <th>Thread ID</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="msg in activeThread.messages" ng-class="{ active: msg.isSent, info: msg.isNew }">
                <td>{{msg.id}}</td>
                <td>{{msg.author}}</td>
                <td ng-bind-html="msg.body"></td>
                <td>{{msg.firstMessageID}}</td>
            </tr>
        </tbody>
    </table>
</div>