<div class="list-template">
    <table class="table table-hover table-striped" ng-repeat="thread in messages">
        <thead>
            <tr>
                <th>ID</th>
                <th>Author</th>
                <th>Body</th>
                <th>Thread ID</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="msg in thread.messages" ng-class="{ info: msg.isNew }">
                <td>{{msg.id}}</td>
                <td>{{msg.author}}</td>
                <td ng-bind-html="msg.body"></td>
                <td>{{msg.firstMessageID}}</td>
            </tr>
        </tbody>
    </table>
</div>