<div class="list-template">
    <ul class="nav nav-pills nav-stacked col-xs-3">
        <li ng-repeat="thread in messages" ng-class="{ active: activeThread === thread }">
            <a ng-href="" ng-click="setActiveThread(thread)">
                <span class="badge pull-right" ng-show="thread.unreadCount > -1">{{thread.unreadCount}}</span>
                <h4>{{thread.subject}}</h4>
                with {{thread.dest}}
            </a>
        </li>
    </ul>
    <div class="col-xs-9">
        <form class="replyForm" role="form" ng-show="!!activeThread">
            <div class="form-group">
                <textarea class="form-control" rows="3" ng-model="replyMsg"></textarea>
            </div>
            <div class="clearfix">
                <button type="button" class="btn btn-primary pull-right" ng-disabled="!replyMsg" ng-click="reply()">Send</button>
            </div>
        </form>
        <div class="media" ng-repeat="msg in activeThread.messages">
            <div class="media-body" ng-class="{ 'bg-primary': msg.isUnread && msg.isReceived, 'bg-info': !msg.isUnread && msg.isReceived }" ng-click="markAsRead(msg)">
                <h4 class="media-heading"><small>{{displayDate(msg.createDate)}}</small></h4>
                <div ng-bind-html="msg.body"></div>
            </div>
        </div>
    </div>
</div>